.gla-loading-label {
	display: inline-flex;
	align-items: center;
	gap: $grid-unit-10;
	height: $button-size;
	color: var(--wp-admin-theme-color);

	.woocommerce-spinner {
		width: 24px;
		height: 24px;
		min-width: 24px;

		&__circle {
			stroke: currentColor;
			stroke-width: 8px;
		}
	}
}
