.gla-account-card {
	line-height: $gla-line-height-smaller;

	&--is-disabled {
		opacity: 0.5;
	}

	&__styled {
		&--align-top {
			align-self: flex-start;
		}
	}

	&__icon {
		line-height: 0;
	}

	&__title {
		margin-bottom: $grid-unit-05;
		color: $black;
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: 1em;
		color: $gray-900;

		> p {
			margin: 0;
		}
	}

	&__helper {
		margin-top: $grid-unit-05;
		font-style: italic;
		font-size: $helptext-font-size;
		color: $gray-700;
	}

	.components-card__footer {
		padding: calc(var(--main-gap) / 3 * 2) var(--main-gap);

		// The buttons in card footer usually use the link style in GLA,
		// but the default link style has a smaller size that doesn't meet
		// the visual design needs. So we override its size here.
		> .components-button.is-link {
			min-height: $gla-size-control-height;
			padding: calc(#{ $grid-unit-15 } / 2) $grid-unit-15;
		}
	}

	.components-notice.is-error {
		margin: 0;
		background-color: #f8ebea;
	}

	@media (max-width: $break-small) {
		.components-card__body > .components-flex {
			flex-direction: column;
			align-items: flex-start;
			> .components-flex__block,
			> .components-flex__item {
				margin: $grid-unit-10;
			}
		}
	}
}
