.gla-sub-nav.subsubsub {
	float: none;
	text-align: left;
	margin: calc(var(--main-gap) * -1 / 3) 0 var(--main-gap) 0;

	// Duplicate WordPress's `.current` styles as `.gla-sub-nav__item--current`,
	// to wrok around https://github.com/woocommerce/woocommerce-admin/issues/7772
	// which removes all `current` classes.
	.gla-sub-nav__item--current {
		// https://github.com/WordPress/wordpress-develop/blob/5.8.1/src/wp-admin/css/common.css#L448-L451
		font-weight: 600;
		border: none;
		// https://github.com/WordPress/wordpress-develop/blob/5.8.1/src/wp-admin/css/common.css#L683-L685
		color: #000;
	}
}
