.gla-page-tabs-component {
	.components-tab-panel__tabs {
		box-shadow: inset 0px -1px 0px #CCCCCC;
		margin: 7px -20px 18px;
		padding: 0 20px;
	}

	.components-tab-panel__tabs-item {
		font-size: 14px;
	}
}
