$button-color: #949494;

.help-popover {
	display: inline-flex;
	font-weight: normal;
	font-size: $default-font-size;
	line-height: $default-line-height;

	button {
		display: inline-flex;
		align-items: center;
		border: none;
		background: none;
		padding: 1px;
		fill: $button-color;
		cursor: pointer;

		&:hover {
			fill: color.adjust($button-color, $lightness: -20%);
		}
	}

	.components-popover__content {
		width: 300px;

		@include break-large {
			width: 360px;
		}

		@include break-xlarge {
			width: 480px;
		}

		> div {
			text-align: left;
			margin: $grid-unit-20;
		}
	}
}
