$button-color: $gray-600;

.help-popover {
	display: inline-flex;
	font-weight: normal;
	font-size: $default-font-size;
	line-height: $default-line-height;

	button {
		display: inline-flex;
		align-items: center;
		border: none;
		background: none;
		padding: 1px;
		fill: $button-color;

		&:not(:disabled) {
			cursor: pointer;
		}

		&:hover:not(:disabled) {
			fill: color.adjust($button-color, $lightness: -20%);
		}
	}

	.components-popover__content {
		width: $gla-width-medium;
		padding: $grid-unit-20;

		@include break-large {
			width: $gla-width-medium-large;
		}

		@include break-xlarge {
			width: $gla-width-mobile;
		}
	}
}
