.gla-faqs-panel {
	.components-panel__row {
		flex-direction: column;
		gap: 1.5em;

		// overrides new styles in .components-panel__row which defined align-items: center;
		align-items: flex-start;

		p {
			margin: 0;
		}
	}

	.components-panel__body-title {
		.components-panel__body-toggle.components-button {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;

			.components-panel__arrow {
				position: unset;
				transform: unset;
			}
		}
	}
}
