.gla-search-console-account-card__notice-header {
	display: flex;
	align-items: center;
	gap: $grid-unit-05;
}

.gla-search-console-account-card__notice-title {
	font-weight: 600;
}

.gla-search-console-account-card__notice-body {
	margin: $grid-unit-05 0 0;
}

.gla-search-console-account-card__notice-actions {
	margin-top: $grid-unit-10;
}
