.wc-metaboxes-wrapper {
	.wc-metabox.woocommerce_variation {
		.gla-metabox.wc-metabox {
			overflow: hidden;
			clear: both;
			border: 1px solid $gray-300;

			// using !important to override the WooCommerce style for meta boxes
			margin: $grid-unit-20 0 !important;

			.wc-metabox-content {
				overflow: hidden;
				padding: 0 1em;
			}

			h3 {
				.handlediv {
					margin-top: 0;
					visibility: visible;
				}
			}

			.gla-input {
				.options {
					border: none;

					input[type="checkbox"] {
						margin-top: 5px !important;
					}
				}
			}
		}

		.gla-metabox.wc-metabox:last-of-type {
			border-bottom: 1px solid $gray-300;
		}
	}
}

#woocommerce-product-data ul.wc-tabs li.gla_attributes_tab {
	a::before {
		content: "\f18b";
	}
}

.gla-channel-visibility-box .form-row > select {
	display: block;
	margin: $grid-unit-10 0;
	max-width: 100%;
}
