.app-table-card {
	.woocommerce-table__actions {
		justify-content: flex-start;
	}

	.woocommerce-card__header {
		border-bottom: 1px solid $gray-400;
		grid-template-columns: auto 48px;  // the default is auto 24px which is too small and doesn't fit the ellipsis dropdown menu.

		.woocommerce-card__title-wrapper > .woocommerce-card__title {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 3px 0;
			font-size: 0.9375rem;
			font-weight: 600;
		}
	}

	.woocommerce-card__body {
		.woocommerce-table__table {
			.components-base-control__field {
				margin-bottom: 0;
			}
		}
	}
}
