.gla-full-container {
	.woocommerce-layout {
		padding-top: 0;

		// set the layout header width to 0 to hide it.
		// do not set the header to display: none,
		// because we want the offsetHeight value
		// and set it to wpbody-content margin-top to counter back.
		.woocommerce-layout__header {
			width: 0;

			// only display the top left WC navigation,
			// do not display the h1 page title element
			// and the top right activity panel.
			&-wrapper > *:not(.woocommerce-navigation) {
				display: none;
			}
		}

		// Hide StoreAlerts.
		.woocommerce-store-alerts,
		.woocommerce-layout__notice-list {
			display: none;
		}
		.woocommerce-layout__primary {
			margin: 0;

			// Hide the Spinner for Suspended StoreAlerts.
			> .woocommerce-spinner {
				display: none;
			}

			.woocommerce-layout__main {
				padding: 0;

			}
		}
	}

	// the following is only applicable when WC Navigation is enabled
	// and the page is on a large screen with .is-wc-nav-expanded applied.
	&.has-woocommerce-navigation.is-wc-nav-expanded {
		.woocommerce-layout__header {
			// WC Navigation lies inside woocommerce-layout__header,
			// so we need to display this.
			display: block;

			// width of the WC Navigation sidebar.
			width: 240px;
		}
	}
}
