.gla-full-container {
	.woocommerce-layout {
		padding-top: 0;

		// Hide Header and StoreAlerts.
		.woocommerce-layout__header,
		.woocommerce-store-alerts,
		.woocommerce-layout__notice-list {
			display: none;
		}
		.woocommerce-layout__primary {
			margin: 0;

			// Hide the Spinner for Suspended StoreAlerts.
			> .woocommerce-spinner {
				display: none;
			}

			.woocommerce-layout__main {
				padding: 0;

			}
		}
	}
}
