.app-input-control {
	.components-flex-item {
		width: 100%;
		max-width: 100%;
		margin-right: 0;

		// hack with !important to override the specificity in @wordpress/components.
		label.components-input-control__label {
			color: $gray-700 !important;
			white-space: normal !important;
		}
	}

	/**
	 * Hack to prevent the <InputControl> component from still having the focused border style
	 * when clicking on <input> or <label> even already setting `readonly` attribute on <input>.
	 *
	 * Ref: https://github.com/WordPress/gutenberg/blob/%40wordpress/components%4012.0.8/packages/components/src/input-control/styles/input-control-styles.js#L238-L247
	 */
	&--no-pointer-events {
		pointer-events: none;
	}
}
