.gla-product-status-help-popover {
	.components-popover__content {
		@include break-medium {
			width: $gla-size-medium;
		}

		@include break-large {
			width: $gla-modal-width;
		}

		@include break-xlarge {
			width: $break-mobile;
		}
	}
}
