.gla-product-status-help-popover {
	.components-popover__content {
		@include break-medium {
			width: $gla-width-medium;
		}

		@include break-large {
			width: $gla-width-medium-large;
		}

		@include break-xlarge {
			width: $gla-width-mobile;
		}
	}
}
