.gla-edit-market-modal__estimated-times {

	&.components-card {
		box-shadow: none;
	}

	.gla-section-card-title {
		font-size: $gla-font-base;
		font-weight: 400;
		letter-spacing: 0.02em;
		margin-bottom: $grid-unit-10;
		text-transform: uppercase;
	}

	.gla-vertical-gap-layout {
		gap: $grid-unit-20;
	}

	.components-card__body {
		padding: 0;
	}

	.components-input-control__container {
		padding: $grid-unit-10;
	}

	.app-input-control {
		width: 100%;
	}

	.components-input-control__suffix {
		color: $gray-700;
	}

	.gla-subsection-helper-text {
		color: $gray-700;
		font-style: normal;
	}

	.woocommerce-number-control__increment svg,
	.woocommerce-number-control__decrement svg {
		fill: $gla-color-blue-50;
	}
}
