.gla-get-started-notice {
	&.is-error {
		background-color: #ffcbcb;
	}

	&.is-warning {
		background-color: #ffeec1;
	}

	.components-notice__content {
		margin-left: $grid-unit-20;
	}

	&__link {
		color: currentcolor;
	}

	&__icon {
		margin-left: 0.2em;
		vertical-align: middle;
	}
}
