.app-modal {
	@include break-large {
		width: 600px;
	}

	.app-modal__footer {
		display: flex;
		flex-direction: column-reverse;
		gap: calc(var(--main-gap) / 2);
		margin-top: var(--large-gap);

		@include break-mobile {
			flex-direction: row;
			justify-content: flex-end;
		}

		button {
			justify-content: center;
		}
	}

	/**
	 * Set `hidden` as the default overflow for container and `auto` for body to
	 * make them stable across newer versions of @wordpress/components.
	 * More details can be found in the AppModal implementation.
	 */
	overflow: hidden;

	.components-modal__content {
		overflow: auto;
	}

	&__styled--overflow-visible {
		&,
		.components-modal__content {
			overflow: visible;
		}
	}
}
