.app-modal {
	overflow: inherit;

	@include break-large {
		width: 600px;
	}

	.app-modal__footer {
		display: flex;
		flex-direction: column-reverse;
		gap: calc(var(--main-gap) / 2);
		margin-top: var(--large-gap);

		@include break-mobile() {
			flex-direction: row;
			justify-content: flex-end;
		}

		button {
			justify-content: center;
		}
	}
}
