.app-modal {
	@include break-large {
		width: 600px;
	}

	.app-modal__footer {
		display: flex;
		flex-direction: column-reverse;
		gap: calc(var(--main-gap) / 2);
		margin-top: var(--large-gap);

		@include break-mobile() {
			flex-direction: row;
			justify-content: flex-end;
		}

		button {
			justify-content: center;
		}
	}

	/**
	 * Set `auto` as the default overflow to make it stable across newer versions of
	 * @wordpress/components. More details can be found in the AppModal implementation.
	 */
	&,
	.components-modal__content {
		overflow: inherit;
	}

	&__styled--overflow-y-auto {
		&,
		.components-modal__content {
			overflow-y: auto;
		}
	}

	&__styled--overflow-y-visible {
		&,
		.components-modal__content {
			overflow-y: visible;
		}
	}
}
