.gla-setup-free-listing-hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $white;
	padding: var(--large-gap);
	padding-bottom: 0;

	.hero-text {
		max-width: unset;
		margin-bottom: 0;

		.hero-text__subtitle {
			font-size: $editor-font-size;
			font-weight: 600;
			line-height: 1.5;
			padding: 0;
			margin: 0;
			margin-top: $grid-unit-05;
		}

		.hero-text__body {
			font-size: $gla-font-small;
			margin-bottom: $grid-unit-05;
		}
	}

	&__image {
		max-width: 100%;
	}
}
