.app-radio-content-control {
	display: grid;
	grid-template-columns: [input-start] auto [text-start] 1fr;

	// Make browser without `column-gap` (mobile Opera and Samsung) use same gap, for both.
	gap: $grid-unit-10;
	column-gap: 10px;

	// Hack to align multiple lines of label after the radio/checkbox to the same indentation,
	// by placing them on the same brid.
	.components-radio-control,
	.components-base-control__field,
	.components-radio-control__option {
		display: contents;
	}
	.components-radio-control__input[type="radio"] {
		margin: 0;
	}
	.app-radio-content-control__content {
		grid-column: text-start;
		&:empty {
			display: none;
		}
	}
}

