.gla-dashboard {
	.gla-dashboard__campaign_conversion {
		gap: var(--main-gap);
		margin-bottom: var(--main-gap);

		.gla-campaign-conversion-status-notice {
			margin-left: 0;
			margin-right: 0;
			padding: $grid-unit-30 $grid-unit-40;

			.components-notice__dismiss {
				min-width: 28px;
				width: 28px;
				height: 28px;
			}

			.gla-campaign-conversion-status-notice__title {
				margin-bottom: $grid-unit-10;
			}

			.gla-campaign-conversion-status-notice__external_icon {
				margin-left: 0.2em;
				vertical-align: middle;
				fill: currentColor;
			}

			.gla-campaign-conversion-status-notice__external_link {
				margin-bottom: 0;
				> a {
					font-weight: 600;
					text-decoration: none;
				}
			}

		}
	}
}

.gla-campaign-conversion-status-reports-notice {
	margin: $grid-unit-40 0 $grid-unit-10 0;
	padding: $grid-unit-15 $grid-unit-40;
	background-color: #cbe3eb;
	border-left: 0;

	.components-notice__dismiss.has-icon {
		min-width: 28px;
		width: 28px;
		height: 28px;
	}
}
