.gla-google-ads-promo {
	background-color: rgba(56, 88, 233, 0.03);
	border: 1px solid rgba(56, 88, 233, 0.16);
	border-radius: $grid-unit-05;
	margin: $grid-unit-20 0;
	padding: $grid-unit-20;

	p {
		margin: 0;
	}
}
