.gla-notifications-panel {
	display: flex;
	flex-direction: column;
	gap: $grid-unit-40;

	&__header {
		padding: $grid-unit-20 $grid-unit-20 0;
	}

	&__title {
		align-items: center;
		display: flex;
		gap: $grid-unit-20;
	}

}
