.gla-notification {
	border-bottom: 1px solid $gray-300;
	padding: $grid-unit-30;

	&:last-child {
		border-bottom: 0;
	}

	& .gla-notification__body {
		flex-grow: 1;
	}

	& .gla-notification__dismiss-container {
		flex: 0 0 auto;
	}

	&__title {
		font-size: 14px;
		font-weight: 600;
		margin: 0 0 $grid-unit-05;
		color: $gray-900;
	}

	&__date {
		font-size: 12px;
		color: $gray-700;
		margin: 0;
	}

	&__description {
		font-size: 13px;
		color: $gray-900;
		margin: 0;
	}

	&__footer {
		margin-top: $grid-unit-10;

		> * + *::before {
			content: "·";
			margin-right: $grid-unit-10;
			color: $gray-700;
		}
	}

	&__action.is-link {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

}