.gla-audience-section {
	// Adjust <SelectControl> imported from @wordpress/components.
	// Repeat selector to make it higher priority.
	.components-input-control__container.components-input-control__container {
		.components-select-control__input {
			padding-left: $grid-unit-20;
		}
	}

	// Adjust help text of <SelectControl> imported from @wordpress/components.
	.components-base-control__help {
		margin: 0;
		font-style: italic;
	}
}
