.gla-gen-ai-images-notice {
    background-color: #f0f6fc;
    border-left: none;
    border: 1px solid #c5d9ed;
    font-family: "SF Pro Text", $default-font;

    :where(.components-notice__content) {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}
