.gla-gen-ai-card {
	:where(.gla-section-card-title) {
		font-size: 16px;
	}

	.components-notice__content {
		:where(svg) {
			display: block;
			fill: $gla-color-green-70;
		}

		p {
			margin: 0;
		}
	}

	:where(.is-success) {
		width: 100%;
	}
}
