.gla-get-started-benefits-card {
	// Adjust <CardBody> imported from @wordpress/components.
	// Repeat selector to make it higher priority.
	.components-card__body.components-card__body {
		display: flex;
		overflow: hidden;
		padding: 0;

		@media (max-width: $break-small) {
			flex-direction: column;
		}
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__image {
		flex: 100%;

		> img {
			object-fit: cover;
		}
	}

	&__content {
		flex: 100%;
		padding: $grid-unit-40;

		@media (max-width: $break-small) {
			padding: $grid-unit-30;
			text-align: center;
		}
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__description {
		font-size: $gla-font-small;
		line-height: $gla-line-height-small;
	}

	& &__notice {

		&:not(.app-notice) {
			margin-block-end: 0;
		}

		p {
			margin: 0;
		}
	}

	&__terms {
		color: $gray-700;
		margin: 0;
	}

	&__terms-link {
		color: $gray-700;

		&:hover,
		&:focus {
			color: $gray-900;
		}
	}
}
