.gla-get-started-benefits-card {
	// Adjust <CardBody> imported from @wordpress/components.
	// Repeat selector to make it higher priority.
	.components-card__body.components-card__body {
		display: flex;
		padding: 0;

		@media (max-width: $break-small) {
			flex-direction: column;
		}
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__image {
		flex: 100%;

		> img {
			object-fit: cover;
		}
	}

	&__title {
		font-size: $gla-font-medium;
		line-height: $gla-line-height-small;
	}

	&__content {
		flex: 100%;
		padding: $grid-unit-40;

		@media (max-width: $break-small) {
			padding: $grid-unit-30;
			text-align: center;
		}
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__description {
		font-size: $gla-font-small;
		line-height: $gla-line-height-small;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__hint {
		font-size: $helptext-font-size;
		color: $gray-600;
		line-height: $gla-line-height-smaller;
	}

	& &__notice {
		background-color: $gla-color-blue-5;
		border-radius: 8px;
		border: 1px solid $gla-color-blue-30;
		margin: 0;
		padding: $grid-unit-15;

		p {
			margin: 0;
		}
	}

	& &__notice-icon {
		flex-shrink: 0;

		svg {

			fill: var(
				--wp-components-color-accent,
				var( --wp-admin-theme-color, #3858e9 )
			);
		}
	}

	& &__notice-title {
		font-weight: 500;
	}

	& &__notice-terms {
		color: $gray-900;
	}

	@media (max-width: $break-small) {
		// Use more specific rules to make it higher priority to override <Text> component.
		& &__title {
			font-size: $gla-font-small-medium;
		}
	}
}
