.gla-get-started-card {

	> div:first-of-type {
		display: flex;
		flex-direction: row-reverse;
		padding: $grid-unit-50 $grid-unit-50 $grid-unit-20;

		@media (max-width: $break-small) {
			flex-direction: column;
			padding: $grid-unit-30;
		}
	}

	.motivation-image {
		min-width: auto;

		@media (max-width: $break-small) {
			text-align: center;
		}
	}

	// Adjust <CardBody> imported from @wordpress/components.
	// Repeat selector to make it higher priority.
	.components-card__body.components-card__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: calc($grid-unit-50 / 2);
		padding: 0;

		@media (max-width: $break-small) {
			gap: $grid-unit-20;
			text-align: center;
			align-items: center;
		}
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__terms-notice {
		font-size: $helptext-font-size;
		line-height: $gla-line-height-smaller;

		a {
			text-decoration: none;
		}
	}

	@media (max-width: $break-small) {
		// Use more specific rules to make it higher priority to override <Text> component.
		& &__title {
			font-size: $gla-font-small-medium;
			line-height: $gla-line-height-medium-large;
		}

		// Use more specific rules to make it higher priority to override <Text> component.
		& &__terms-notice {
			margin-top: $grid-unit-15;
		}
	}
}
