.woocommerce-marketing-google-get-started-card {
	.components-flex {
		flex-direction: column;
		align-items: flex-end;

		@include break-large {
			flex-direction: row;
			align-items: center;
		}

		.motivation-text {
			margin: calc(var(--main-gap) * 2.5);

			.title {
				margin-bottom: $grid-unit-20;
			}

			.description {
				margin-bottom: $grid-unit-20;
			}
		}

		.motivation-image {
			text-align: right;
			margin-bottom: -4px;

			@include break-large {
				margin-top: calc(var(--main-gap) * 1.5);
			}
		}
	}

	.components-flex &__terms-notice {
		margin-top: $grid-unit-20;
		font-style: italic;
		font-size: $helptext-font-size;
		a {
			text-decoration: none;
		}
	}
}
