// Import Gutenberg variables
@import "node_modules/@wordpress/base-styles/colors";

// Add other colors or adjustments we want below

$gla-color-green: #008a20;
$gla-color-red: #d94f4f;
$gla-color-green-0: #edfaef;
$gla-color-green-70: #005c12;
$gla-color-yellow-0: #fcf9e8;
$gla-color-yellow-70: #614200;
$gla-color-red-0: #fcf0f1;
$gla-color-red-70: #8a2424;
$gla-color-gray-0: #f6f7f7;
