$gla-font-smallest: 12px;
$gla-font-small: 14px;
$gla-font-medium-mobile: 20px;
$gla-font-medium: 24px;
$gla-line-height-smallest: 13px;
$gla-line-height-smaller: 16px;
$gla-line-height-small: 18px;
$gla-line-height-medium: 20px;
$gla-line-height-large-mobile: 28px;
$gla-line-height-large: 32px;
