// Import Gutenberg variables
@import "node_modules/@wordpress/base-styles/variables";

// Gutenberg Missing Styles
// $gray-500 is not declared in Gutenberg.
$gray-500: #bbb;

// Add other variables or adjustments we want below

// Typography

$gla-font-smallest: 11px;
$gla-font-smaller: 12px;
$gla-font-base: 13px;
$gla-font-small: 14px;
$gla-font-small-medium: 20px;
$gla-font-medium: 24px;
$gla-font-large: 32px;

// Line Heights

$gla-line-height-smallest: 13px;
$gla-line-height-smaller: 16px;
$gla-line-height-small: 18px;
$gla-line-height-medium: 20px;
$gla-line-height-medium-large: 28px;
$gla-line-height-large: 32px;

// Dimensions

$gla-border-radius: 3px;
$gla-size-control-height: 36px;
$gla-popover-width: 200px;
$gla-width-small: 250px;
$gla-width-medium: 300px;
$gla-width-medium-large: 360px;
$gla-width-mobile: 480px;
$gla-width-large: 600px;
