.gla-product-statistics {
	&__last-updated {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: calc(var(--main-gap) / 3 * 2);
	}

	&__summaries {
		.woocommerce-summary {
			// override the default "margin: 16px 0" here.
			margin: 0;

			.woocommerce-summary__item-delta {
				// don't display the delta in Summary component.
				display: none;
			}
		}
	}

	// The status box in the footer of the Overview card
	.components-card__footer {
		flex-direction: column;

		@media (max-width: $break-large) {
			.components-flex {
				flex-direction: column;
				align-items: normal;
				margin: $grid-unit-15 0;
			}

			.components-flex__item:not(:first-child) {
				margin-top: $grid-unit-10;
				margin-left: $grid-unit-20;
			}
		}

		.components-flex {
			align-items: flex-start;
		}

		.components-flex + .components-flex {
			margin-top: $grid-unit-10;
		}

		.components-flex__item {
			color: $gray-900;
			padding-top: 0.25 * $grid-unit;

			&:first-child {
				min-width: 130px;
			}

			&.gla-status__icon {
				min-width: 30px;
				padding-top: 0;

				.gla-success {
					fill: $gla-color-green;
				}
			}

			.gla-status__label {
				.gla-error {
					color: $gla-color-red;
				}

				.gla-success {
					color: $gla-color-green;
				}
			}

			.gla-status__description {
				color: $gray-700;

				&:not(:empty)::before {
					content: "•";
					display: inline-block;
					margin: 0 $grid-unit-10;
				}
			}
		}

		.gridicon {
			margin-right: $grid-unit-05;
		}

		.gridicons-sync {
			transform: rotateZ(90deg);
		}
	}
}
