.gla-product-statistics {
	&__last-updated {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: calc(var(--main-gap) / 3 * 2);
	}

	&__summaries {
		.woocommerce-summary {
			// override the default "margin: 16px 0" here.
			margin: 0;

			.woocommerce-summary__item-delta {
				// don't display the delta in Summary component.
				display: none;
			}
		}
	}
}
