.gla-shipping-time-setup {
	margin-top: calc(var(--main-gap) / 2);

	.countries-time {
		margin-bottom: calc(var(--main-gap) / 2);

		.countries-time-input-form {
			max-width: $gla-width-medium;
		}
	}

	.add-time-button {
		align-self: flex-start;
	}
}
