.gla-edit-time-button {
	&.components-button.is-tertiary {
		height: fit-content;
		line-height: 1.4em;
		padding: 0;
	}
}

.gla-edit-time-modal .gla-countries-time-stepper .components-input-control {
	margin-bottom: 0;
}
