.app-button {
	white-space: nowrap;

	svg {
		max-width: inherit;
		max-height: inherit;

		circle {
			stroke: currentColor;
		}
	}
}

.gla-app-button {
	/**
	 * Fix that the SVG icon gap to text should be on the left side.
	 * @see https://github.com/WordPress/gutenberg/blob/%40wordpress/components%4012.0.8/packages/components/src/button/style.scss#L309-L311
	 */
	&--fix-icon-position.has-icon.has-text svg {
		margin-right: 0;
		margin-left: 8px;
	}
}
