.gla-ads-inline-notice {
	margin: $grid-unit-20;
	border-left: none;
	padding: 0.75rem 1rem;

	&.is-info {
		background-color: #f0f6fc;
	}

	.components-notice__content p:first-child {
		margin-top: 2px;
	}
}
