@import "../_shared";

.gla-get-started-customer-quotes-card {
	.components-flex {
		gap: $grid-unit * 3.5;
		padding: 0 $grid-unit * 7.75 $grid-unit * 5.75;
		align-items: stretch;

		// Adjust <CardHeader> imported from @wordpress/components.
		&.components-card__header {
			flex-direction: column;
			padding: $grid-unit * 5.75 $grid-unit * 14 $grid-unit-50;
			text-align: center;

			@media (max-width: $break-small) {
				padding: $grid-unit-30;
			}
		}

		&__block {
			display: flex;
			flex-direction: column;
			background-color: #f6f7f7;
			padding: $grid-unit * 2.5;
			gap: $grid-unit * 1.25;
		}

		@media (max-width: $break-small) {
			flex-direction: column;
			gap: $grid-unit-30;
			padding: 0 $grid-unit-30 $grid-unit-30;
		}
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__content {
		font-size: $font-small;
		line-height: $line-height-medium;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__name {
		font-size: $helptext-font-size;
		color: $gray-600;
		line-height: $line-height-smaller;
	}

	@media (max-width: $break-small) {
		// Use more specific rules to make it higher priority to override <Text> component.
		& &__title {
			font-size: $font-medium-mobile;
			line-height: $line-height-large-mobile;
		}
	}
}
