@import "node_modules/@wordpress/base-styles/colors";

.gla-product-feed-table-card {
	.woocommerce-card__header {
		border-bottom: 1px solid $gray-400;

		.woocommerce-card__title-wrapper > .woocommerce-card__title {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 3px 0;
			font-size: 0.9375rem;
			font-weight: 600;
		}
	}
}
