.gla-product-feed-table-card {
	.components-card__header {
		.woocommerce-table__actions {
			align-items: center;
			justify-content: flex-end;
			min-height: $gla-size-control-height;

			// Override 100% div width within actions
			> div {
				width: auto;
			}
		}
	}

	.app-tooltip__children-container {
		// Clear the 4px space gap for SVG
		line-height: 0;

		> svg {
			fill: $gray-600;
		}
	}

	// Override the SelectControl to smaller size
	.woocommerce-table__actions {
		.components-base-control {
			width: $gla-width-small;
			height: $gla-size-control-height;
			font-size: $default-font-size;
		}

		.components-base-control__label {
			font-size: $default-font-size;
		}

		.with-value .components-base-control__label {
			display: none;
		}

		.woocommerce-select-control__listbox {
			top: 100%;
		}

		.woocommerce-select-control__option {
			min-height: $gla-size-control-height;
			font-size: $default-font-size;
		}

		.woocommerce-select-control__control-input {
			margin-top: 0;
			font-size: $default-font-size;
			color: $gray-900;
		}
	}

	.woocommerce-table {
		margin-bottom: 0;
	}
}
