.gla-google-tag-manager-account-card__notice-body {
	margin: $grid-unit-05 0 0;
}

.gla-google-tag-manager-account-card__notice-actions {
	margin-top: $grid-unit-10;
}

.gla-google-tag-manager-account-card__notice-body p {
	margin: 0;
}
