.gla-vertical-gap-layout {
	display: flex;
	flex-direction: column;
	gap: calc(var(--main-gap) / 2);

	&.gla-vertical-gap-layout__large {
		gap: var(--main-gap);
	}

	&.gla-vertical-gap-layout__overlap {
		gap: 0;

		> *:not(:first-child) {
			margin-top: -1px;
		}
	}
}
