// Import Gutenberg components that aren't already imported in the lowest WC Admin version we support
@import "node_modules/@wordpress/components/src/panel/style";
@import "node_modules/@wordpress/components/src/button/style"; // required for tab-panel

.components-button {
	// hack to make primary destructive button.
	&.is-primary.is-destructive {
		background-color: $alert-red;

		&:hover {
			background-color: darken($color: $alert-red, $amount: 10%);
		}
	}

	&.is-link.is-destructive:focus {
		color: $alert-red;

		&:not(:disabled) {
			color: $alert-red;
		}
	}

	&.is-link {
		text-decoration: none;
	}
}

// hack to fix radio button selected style bug caused by woocommerce-admin.
.components-radio-control__input[type=radio]:checked::before {
	border: none;
}
