// Import Gutenberg components that aren't already imported in the lowest WC Admin version we support
@import "node_modules/@wordpress/components/src/panel/style";
@import "node_modules/@wordpress/components/src/button/style"; // required for tab-panel

.components-button {
	// hack to make primary destructive button.
	&.is-primary.is-destructive {
		background-color: $alert-red;

		&:hover {
			background-color: darken($color: $alert-red, $amount: 10%);
		}
	}

	// hack to fix tertiary destructive button.
	&.is-tertiary.is-destructive {
		box-shadow: none;

		&:hover:not(:disabled) {
			box-shadow: none;
		}
	}

	&.is-link.is-destructive:focus {
		color: $alert-red;

		&:not(:disabled) {
			color: $alert-red;
		}
	}

	&.is-link {
		text-decoration: none;
	}
}

// hack to fix radio button selected style bug caused by woocommerce-admin.
.components-radio-control__input[type="radio"]:checked::before {
	border: none;
}

// hack to fix InputControl suffix's empty right margin.
.components-input-control__suffix {
	margin-right: 8px;
}

// Hack to fix the Tooltip position of the top-right side close button in a Modal component.
// The follow up can be found here: https://github.com/woocommerce/google-listings-and-ads/issues/203
.components-modal {
	&__screen-overlay {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__frame {
		@include break-small() {
			transform: initial;
			position: relative;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}
