.gla-supported-country-select {
	.woocommerce-tree-select-control__label {
		padding-bottom: $grid-unit-05;
		font-size: $default-font-size;
	}

	.woocommerce-tree-select-control__help {
		font-style: italic;
	}
}
