.gla-free-ad-credit-country-modal {
	max-width: 600px;
	overflow: auto;

	table {
		margin-left: calc(var(--large-gap) * 2);
		border-spacing: calc(var(--main-gap) / 3 * 2) 0;

		tbody {
			td:nth-child(1) {
				font-weight: 600;
				text-align: right;
			}
		}
	}
}
