.gla-campaign-assets-tour {
	.components-card__body .woocommerce-pill {
		margin-left: $grid-unit-15;
		border: none;
		background-color: var(--wp-admin-theme-color);
		color: $white;
	}

	// Hide the footer content but leave the padding-bottom because
	// TourKit doesn't offer a way not to use the primary button.
	.components-card__footer {
		padding-top: 0;

		> * {
			display: none;
		}
	}
}
