// :host
.gla-contact-info-preview-card {
	// Vertically align icon inside the title.
	// :host::part( title ) - if we use inheritance
	// account-card::part( title ) - if we use composition
	.part--title {
		display: flex;
		align-items: center;
	}

	// :--warning::part( icon )
	&.state--warning {
		fill: $alert-red;
		margin: calc(var(--main-gap) / -8) 0;
	}
	// :--warning>[slot="description"]
	// :--warning::part( description )
	&.state--warning .part--description {
		color: $gray-700;
	}

	// :--loading>[slot="description"]
	// :--loading::part( description )
	&.state--loading .part--description {
		@include placeholder();
		display: inline-block;
		width: 18em;
	}
}
