.gla-contact-info-preview-card {
	&__refresh-button {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;

		.gridicons-refresh {
			fill: var(--wp-admin-theme-color);
		}
	}

	// Vertically align icon inside the title.
	.wcdl-subsection-title {
		display: flex;
		align-items: center;
	}
	&__notice-icon {
		fill: $alert-red;
		margin: calc(var(--main-gap) / -8) 0;
	}
	&__notice-details {
		color: $gray-700;
	}

	&__placeholder {
		@include placeholder();
		display: inline-block;
		width: 18em;
	}
}
