.gla-no-contact-information-card {
	.wcdl-subsection-title > div {
		margin-bottom: 8px;
	}

	.wcdl-subsection-body {
		color: $gray-700;
	}

	.gridicons-notice {
		fill: $alert-red;
	}

	.components-button {
		margin-right: $grid-unit-30;
	}
}
