// :host
.gla-store-address-card {

	// ::part( icon )
	.part--icon {
		align-self: start;
	}

	// ::part( indicator )
	.part--indicator {
		align-self: start;
		svg {
			margin-left: 4px;
		}
	}

	// ::part( description )
	.part--description {
		display: flex;
		flex-direction: column;
		gap: 1em;

		// [slot="description"]
		> p {
			margin: 0;
		}
	}
}
