.gla-store-address {
	&__refresh-button {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;

		&.has-icon.has-text {
			justify-content: center;

			svg {
				margin: 0;
			}
		}

		.gridicons-refresh {
			fill: var(--wp-admin-theme-color);
		}
	}
}
