.gla-store-address-card {
	// We could've used `StoreAddressCard'`s selectors,
	// but the elements are wrapped with `<FlexItem>`,
	// which does not have accessible semantic selector.
	// So we have to rely on `<AccountCard>`'s internal implementation details.
	.components-flex__item {
		align-self: start;
	}

	.components-flex__item:nth-child(3) {
		svg {
			margin-left: 4px;
		}
	}

	p {
		margin: 1em 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
