.gla-get-started-features-card {
	.components-flex {
		justify-content: space-around;

		@media (max-width: $break-small) {
			flex-direction: column;
		}

		&__block {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 195px;
			margin: calc(var(--large-gap) / 4 * 5) 0;
			text-align: center;
		}
	}

	& &__label {
		margin: $grid-unit-40 0 $grid-unit-20;
		font-size: $default-font-size;
	}

	& &__content {
		line-height: 16px;
	}
}
