.gla-get-started-features-card {
	// Adjust <CardHeader> imported from @wordpress/components.
	// Repeat selector to make it higher priority.
	.components-card__header.components-card__header {
		flex-direction: column;
		gap: $grid-unit-10;
		padding: $grid-unit-60 $grid-unit * 14.125 $grid-unit-50;
		text-align: center;

		@media (max-width: $break-small) {
			padding: $grid-unit-30 $grid-unit-30 $grid-unit-20;
			gap: $grid-unit-20;
		}
	}

	.components-flex {
		gap: 50px;
		padding: 0 $grid-unit * 11 $grid-unit-60;

		&__block {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			> p {
				font-size: 14px;
				line-height: 18px;
			}
		}

		@media (max-width: $break-small) {
			flex-direction: column;
			gap: 40px;
			padding: 0 55px $grid-unit-30;
		}
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__description {
		font-size: 14px;
		line-height: 18px;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__label {
		margin: $grid-unit-30 0 $grid-unit-20;
		font-weight: bold;
	}

	@media (max-width: $break-small) {
		// Use more specific rules to make it higher priority to override <Text> component.
		& &__title {
			font-size: 20px;
			line-height: 28px;
		}

		// Use more specific rules to make it higher priority to override <Text> component.
		& &__label {
			margin: $grid-unit * 2.5 0 $grid-unit-20;
		}
	}
}
