.gla-get-started-features-card {
	.components-flex {
		gap: 50px;
		padding: 0 $grid-unit * 11 $grid-unit-60;

		// Adjust <CardHeader> imported from @wordpress/components.
		&.components-card__header {
			flex-direction: column;
			gap: $grid-unit-10;
			padding: $grid-unit-60 $grid-unit * 14.125 $grid-unit-50;
			text-align: center;

			@media (max-width: $break-small) {
				padding: $grid-unit-30 $grid-unit-30 $grid-unit-20;
				gap: $grid-unit-20;
			}
		}

		&-block {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		@media (max-width: $break-small) {
			flex-direction: column;
			gap: $grid-unit-50;
			padding: 0 55px 44px;
		}
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__description {
		font-size: $gla-font-small;
		line-height: $gla-line-height-small;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__label {
		margin: $grid-unit-30 0 $grid-unit-20;
		font-weight: bold;
		font-size: $gla-font-small;
		line-height: $gla-line-height-small;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__content {
		font-size: $gla-font-small;
		line-height: $gla-line-height-small;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__learn-more {
		margin-top: $grid-unit;
		font-weight: 500;
		font-size: $gla-font-small;
		line-height: $gla-line-height-smaller;

		a {
			text-decoration: none;
		}
	}

	@media (max-width: $break-small) {
		// Use more specific rules to make it higher priority to override <Text> component.
		& &__title {
			font-size: $gla-font-small-medium;
			line-height: $gla-line-height-medium-large;
		}

		// Use more specific rules to make it higher priority to override <Text> component.
		& &__label {
			margin: $grid-unit * 2.5 0 $grid-unit-20;
		}
	}
}
