// Default Styles Here
@import "node_modules/@wordpress/base-styles/z-index";
@import "node_modules/@wordpress/base-styles/default-custom-properties";

// Import Gutenberg components that aren't already imported in the lowest WC Admin version we support
@import "./shared/gutenberg-components.scss";

// Import GLA-wise styling that based on woocommerce-admin styles.
@import "./shared/woocommerce-admin.scss";
