$font-smallest: 12px;
$font-small: 14px;
$font-medium-mobile: 20px;
$font-medium: 24px;

$line-height-smallest: 13px;
$line-height-smaller: 16px;
$line-height-small: 18px;
$line-height-medium: 20px;
$line-height-large-mobile: 28px;
$line-height-large: 32px;
