.woocommerce-marketing-google-get-started-page {
	max-width: 824px;
	margin: 0 auto;

	.components-card,
	.components-panel {
		margin-bottom: calc(var(--main-gap) * 1.5);
	}
}

.gla-get-started-fags {
	.components-panel__row {
		display: block;
	}
}
