.woocommerce-marketing-google-get-started-page {
	max-width: 824px;
	margin: 0 auto;

	> * {
		margin-bottom: calc(var(--main-gap) * 1.5);
	}

	.gla-get-started-notice {
		margin: 0 0 $grid-unit-40;
	}
}
