.app-full-screen {
	margin-top: -46px;

	@include break-medium() {
		margin-top: -32px;
	}

	.woocommerce-layout {
		padding-top: 0;

		.woocommerce-layout__primary {
			margin: 0;

			.woocommerce-layout__main {
				padding: 0;
			}
		}
	}
}
