.app-full-screen {
	// hack to fix the margin-top when WC Navigation is not enabled
	// and width is between 600px and 782px.
	// without this, the margin-top would be -32px,
	// and there would be a visible small grey gap.
	&.is-wp-toolbar-disabled:not(.has-woocommerce-navigation) {
		@media (min-width: #{ ($break-small) }) and (max-width: #{ ($break-medium) }) {
			margin-top: -46px;
		}
	}

	.woocommerce-layout {
		padding-top: 0;

		.woocommerce-layout__primary {
			margin: 0;

			.woocommerce-layout__main {
				padding: 0;
			}
		}
	}
}
