.gla-shipping-rate-input-control {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	gap: $grid-unit;

	.label {
		display: flex;
		justify-content: space-between;
		gap: $grid-unit-05;

		button {
			height: fit-content;
			line-height: 1.4em;
			padding: 0;
		}
	}

	.app-input-control {
		width: $gla-width-medium;
	}

	.gla-input-pill-div {
		// Make the pill to appear center-aligned with input control.
		padding: 2px 0;

		.woocommerce-pill {
			border-color: $gla-color-green;
			color: $gla-color-green;
		}
	}
}
