.gla-pre-launch-checklist {
	.gla-pre-launch-checklist__checkbox_popover {
		.checkbox-label {
			margin-right: calc(var(--main-gap) / 2);
		}

		.help-popover {
			vertical-align: text-bottom;
		}
	}

	.gla-pre-launch-checklist__checkbox {
		display: flex;
		justify-content: stretch;
	}
}
