.gla-gen-ai-edit-image-modal {
	.gla-gen-ai-edit-image-modal__description {
		color: $gray-900;
		margin: 0 0 $grid-unit-20;
	}

	.gla-gen-ai-edit-image-modal__thumbnail {
		aspect-ratio: 1 / 1;
		border-radius: $gla-border-radius * 2;
		border: 1px solid $gray-200;
		display: block;
		height: auto;
		object-fit: contain;
		width: 100%;

		@media (min-width: $break-small) {
			width: 280px;
		}
	}
}
