.wcdl-select-control {
	&__input,
	&__helper-text {
		&:not(:last-child) {
			margin-bottom: calc(var(--main-gap) / 3);
		}
	}

	&__label {
		color: $gray-700;
		padding-bottom: 4px;
	}

	&__helper-text {
		font-style: italic;
		font-size: 12px;
		line-height: 16px;
	}

	// don't show the default magnifier icon.
	i.material-icons-outlined {
		display: none;
	}

	// CSS hacks to fix the input UI.
	.woocommerce-select-control {
		.components-base-control {
			// remove the coded height 56px that is causing UI problem.
			height: unset;

			.woocommerce-select-control__control-input,
			.woocommerce-select-control__tags {
				margin: 0;
			}

			.woocommerce-tag {
				max-height: 24px;
			}
		}

		.woocommerce-select-control__listbox {
			// Remove the hard coded height 57px that is causing the dropdown list
			// not below the input box when there are multiple rows inside the input box.
			top: unset;
		}

		// Workaround the problem that the tags' remove buttons are still displayed when disabled,
		// no matter the `inlineTags` are true or false.
		.is-disabled {
			.woocommerce-select-control__tags,
			+ .woocommerce-select-control__tags {
				.woocommerce-tag__remove {
					display: none;
				}
				.woocommerce-tag__text {
					padding: 0 $grid-unit-10;
					border-radius: 12px;
				}
			}
		}
	}
}
