.wcdl-select-control {
	&__input,
	&__helper-text {
		margin-bottom: calc(var(--main-gap) / 3);
	}

	&__label {
		color: $gray-700;
		padding-bottom: 4px;
	}

	&__helper-text {
		font-style: italic;
		font-size: 12px;
		line-height: 16px;
	}

	// don't show the default magnifier icon.
	i.material-icons-outlined {
		display: none;
	}

	// CSS hacks to fix the input UI.
	.woocommerce-select-control {
		.components-base-control {
			// remove the coded height 56px that is causing UI problem.
			height: unset;

			.woocommerce-select-control__control-input,
			.woocommerce-select-control__tags {
				margin: 0;
			}

			.woocommerce-tag {
				max-height: 24px;
			}
		}
	}
}
