.wcdl-section {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--large-gap);

	&--is-disabled {
		opacity: 0.5;
	}

	@include break-small {
		flex-direction: row;
		gap: var(--main-gap);
	}

	header {
		@include break-small {
			width: 33%;
			padding-top: var(--main-gap);
		}

		h1 {
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			margin-bottom: 8px;
			padding: 0;
		}

		> p {
			margin: 0 0 1em;
			line-height: 16px;
		}
	}

	.wcdl-section__body {
		flex: 1;
	}
}
