.gla-detailed-error {
	color: $alert-red;
	font-size: $gla-font-base;
}

.gla-detailed-error__title {
	display: flex;
	align-items: center;
	font-weight: normal;
	gap: $grid-unit-05;
	flex-wrap: nowrap;
	margin: $grid-unit-10 0;
}

.gla-detailed-error__description {
	margin: 0;
}
