.gla-shipping-rate-setup {
	margin-top: calc(var(--main-gap) / 2);

	.countries-price {
		margin-bottom: calc(var(--main-gap) / 2);

		.countries-price-input-form {
			max-width: 300px;
		}
	}

	.add-rate-button {
		align-self: flex-start;
	}

	.price-over-input {
		max-width: 300px;
	}

	// Align CheckboxControl and its multiline desription, into two columns.
	.components-base-control__field {
		display: grid;
		grid-template-columns: [input-start] auto [text-start] 1fr;

		// Make browser without `column-gap` (mobile Opera and Samsung) use same gap, for both.
		gap: $grid-unit-10;
		column-gap: 10px;

		.components-checkbox-control__input-container {
			margin: 0;
		}
	}
}
