.gla-free-ad-credit {
	background-color: #dcf7dd;
	display: flex;
	align-items: center;
	gap: calc(var(--main-gap) / 3 * 2);
	padding: calc(var(--main-gap) / 3 * 2);
	color: $black;

	svg {
		flex: 0 0 auto;
		fill: #007017;
	}

	&__title {
		font-size: 13px;
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__description {
		font-size: 12px;
		font-style: italic;
	}
}
