.gla-budget-section {
	.wcdl-section__body {
		display: flex;
		flex-direction: column;
		gap: $grid-unit-20;
	}

	&__card-body {
		display: flex;
		flex-direction: column;
		gap: var(--main-gap);

		&__cost {
			display: flex;
			gap: var(--main-gap);

			& > * {
				flex: 1;
			}
		}
	}

	.components-input-control__suffix {
		margin-right: $grid-unit-20;
	}
}
