.gla-get-started-benefits-card {
	// Adjust <CardBody> imported from @wordpress/components.
	// Repeat selector to make it higher priority.
	.components-card__body.components-card__body {
		display: flex;
		flex-direction: row;
		padding: 0;

		@media (max-width: $break-small) {
			flex-direction: column;
		}

		.components-flex__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: $grid-unit-20;
			padding: $grid-unit-50;
			max-width: 51.5%;

			&__description {
				font-size: 14px;
				line-height: 18px;
			}

			&__hint {
				font-size: $helptext-font-size;
				color: $gray-600;
				line-height: 16px;
			}

			@media (max-width: $break-small) {
				padding: $grid-unit-30;
				text-align: center;
				max-width: unset;

				&__title {
					font-size: 20px;
				}
			}

		}
	}
}
