.gla-get-started-benefits-card {
	// Adjust <CardBody> imported from @wordpress/components.
	// Repeat selector to make it higher priority.
	.components-card__body.components-card__body {
		display: flex;
		padding: 0;

		@media (max-width: $break-small) {
			flex-direction: column;
		}
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__image {
		flex: 100%;

		> img {
			object-fit: cover;
		}
	}

	.components-flex-item {
		flex: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: $grid-unit-20;
		padding: $grid-unit-50;

		@media (max-width: $break-small) {
			padding: $grid-unit-30;
			text-align: center;
		}
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__description {
		font-size: $gla-font-small;
		line-height: $gla-line-height-small;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__hint {
		font-size: $helptext-font-size;
		color: $gray-600;
		line-height: $gla-line-height-smaller;
	}

	@media (max-width: $break-small) {
		// Use more specific rules to make it higher priority to override <Text> component.
		& &__title {
			font-size: $gla-font-small-medium;
		}
	}
}
