.gla-setup-stepper {
	.woocommerce-stepper__steps {
		align-items: center;
		justify-content: center;
		height: $grid-unit-40 * 2;
		background-color: $white;
		box-shadow: inset 0 -1px 0 $gray-400;
		margin-bottom: 0;

		.woocommerce-stepper__step-divider {
			margin-top: 0;
			align-self: auto;
			max-width: $grid-unit-60;
		}
	}
}
