.gla-validation-errors {
	width: 100%;
	margin: 0;
	line-height: $gla-line-height-smaller;
	font-size: $gla-font-smaller;
	color: $alert-red;

	&:not(:first-child) {
		margin-top: $grid-unit-20;
	}

	&:not(:last-child) {
		margin-bottom: $grid-unit-20;
	}

	> li {
		list-style: disc inside;
		margin: 0;
		padding-left: 0.5em;

		&:only-child {
			list-style: none;
			padding-left: 0;
		}
	}
}
