.gla-asset-group-section {
	margin-bottom: $grid-unit-20;

	&__optional-label,
	&__primary-description {
		font-weight: normal;
		font-size: $default-font-size;
		color: $gray-700;
	}

	.components-tip {
		padding: $grid-unit-15 $grid-unit-20;
		background: #f0f6fc;
		border: $border-width solid #c5d9ed;
		line-height: $gla-line-height-medium;
		color: $gray-900;

		> svg {
			fill: #007cba;
			align-self: initial;
		}
	}

	&__primary-description {

		ul {
			list-style-type: disc;
			margin: 0 0 $grid-unit-10;
			padding-left: $grid-unit-20;
		}

		li {
			margin: 0;
		}
	}

	.gla-asset-group-section__content {
		.gla-asset-field {
			&:first-child {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
			}

			&:last-child {
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
			}
		}
	}
}
