.gla-asset-group-card {
	.components-external-link {
		margin-left: $grid-unit-05;
	}

	&__error-list {
		width: 100%;
		margin: 0;
		line-height: $gla-line-height-smaller;
		font-size: $gla-font-smaller;
		color: $alert-red;

		&:not(:last-child) {
			margin-bottom: $grid-unit-20;
		}

		> li {
			list-style: disc inside;
			margin: 0;
			padding-left: 0.5em;

			&:only-child {
				list-style: none;
				padding-left: 0;
			}
		}
	}
}

.gla-asset-field-call-to-action {
	.components-base-control {
		width: 240px;

		.components-input-control__container .components-select-control__input {
			height: $gla-size-control-height;
		}
	}

	.components-base-control__field {
		margin-bottom: 0;
	}
}

.gla-asset-field-display-url-path {
	.gla-asset-field__subheading {
		margin-top: $grid-unit-15;
	}

	.gla-asset-field__content {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: $grid-unit-20 $grid-unit-10;

		&:not(:empty) {
			padding-top: $grid-unit-10;
		}
	}

	&__slash {
		height: $gla-size-control-height;
		line-height: $gla-size-control-height;
	}

	&__text-input {
		flex: 0 1 240px;

		.components-input-control .components-input-control__container .components-input-control__input {
			height: $gla-size-control-height;
			padding-left: $grid-unit-20;
			padding-right: $grid-unit-20;
		}
	}
}
