.gla-google-ads-billing-card {
	&__success-status {
		padding: $grid-unit-15;
		line-height: 2em;
		background-color: #eff9f1;
		color: $gray-900;

		.gridicon {
			fill: $gla-color-green;
			margin: 0 $grid-unit-15 0 $grid-unit-05;
		}
	}
}
