.gla-analytics-overview-promo {
	.gla-analytics-overview-promo__image {
		display: block;
	}

	.gla-analytics-overview-promo__content {
		max-width: 580px;
	}

	.gla-analytics-overview-promo__title {
		font-size: $editor-font-size;
		font-weight: 600;
		line-height: $gla-line-height-medium;
		margin: 0;
	}

	.gla-analytics-overview-promo__description {
		font-size: $gla-font-smaller;
		line-height: $gla-line-height-smaller;
		margin: 0;
	}
}
