.gla-analytics-overview-promo-card__title {
	font-size: $editor-font-size;
	font-weight: 600;
	line-height: $gla-line-height-medium;
	margin-block: 0;
}

.gla-analytics-overview-promo-card__description {
	font-size: $gla-font-smaller;
	line-height: $gla-line-height-smaller;
	margin-block: $grid-unit-05 0;
}
