.gla-analytics-overview-promo-card {
	.gla-analytics-overview-promo-card__image-wrapper {
		flex-shrink: 0;
	}

	.gla-analytics-overview-promo-card__image {
		display: block;
	}

	.gla-analytics-overview-promo-card__content {
		max-width: 580px;
	}
}
