.gla-paid-features {

	&__content {
		flex-direction: column;

		@media (min-width: $break-small) {
			align-items: flex-start;
			flex-direction: row;
			gap: $grid-unit-20;
		}
	}

	&__feature-list {
		display: flex;
		flex-direction: column;
		gap: $grid-unit-20;
		line-height: $gla-line-height-smaller;
		color: $gray-800;
		text-align: left;

		.gridicon {
			fill: $alert-green;
		}
	}

	.components-button {
		align-self: flex-end;
	}
}
