.gla-setup-service-based-accounts-section {
	margin-bottom: var(--main-gap);
}

.gla-setup-service-based-accounts-section__faqs {
	p {
		margin-bottom: 1.5em;
		font-style: italic;
		font-size: $gla-font-smaller;
		color: $gray-700;
	}
}
