.gla-edit-market-modal {

    .components-base-control__label,
    .app-input-control .components-flex-item label.components-input-control__label {
        color: $gray-900 !important; // to override !important from app-input-control
        line-height: $gla-line-height-small;
        font-weight: 600;
    }

    .gla-shipping-rate-input-control .app-input-control {
        width: 100%;
    }

    .components-input-control__container {
        padding: $grid-unit-10;
    }

    .gla-countries-time-input-container {
        margin-bottom: $grid-unit-10;
        max-width: unset;
    }

    .gla-shipping-rate-input-control {
        margin-bottom: $grid-unit-10;
    }

    .gla-edit-shipping-rates,
    .gla-edit-shipping-times {
        margin-top: $grid-unit-30;
    }

    .gla-edit-shipping-rates__free-shipping-cost {
        margin-top: $grid-unit-20;
    }

    .components-base-control__help {
        color: $gray-700;
        line-height: $gla-line-height-smaller;
        font-size: $gla-font-smaller;
        font-style: italic;
    }

    .gla-countries-time-stepper {
        width: unset;
    }
}
