.gla-countries-time-stepper {
	width: $gla-width-smaller;

	:dir(ltr) .gla-countries-time-suffix {
		margin-right: $grid-unit-05;
	}

	:dir(rtl) .gla-countries-time-suffix {
		margin-left: $grid-unit-05;
	}
}
