.gla-reclaim-url-card {
	.gla-content-button-layout {
		margin: 16px 0;

		.app-input-control {
			flex-grow: 1;

			svg {
				display: block;
				margin: 6px;
				margin-right: 0;
				fill: currentColor;
			}
		}
	}

	.wcdl-subsection-helper-text {
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		line-height: 16px;
	}

	.components-notice.is-error {
		margin-top: 16px;
	}
}
