.gla-multilingual-plugin-prompt {
	margin-block-start: $grid-unit-30;
}

.gla-multilingual-plugin-prompt__plugin-icon {
	flex-shrink: 0;

	& img {
		border-radius: 100%;
	}
}

.gla-multilingual-plugin-prompt__plugin-title {
	font-weight: 600;
	margin-block-end: $grid-unit-05;
}

.gla-multilingual-plugin-prompt__plugin-description {
	color: $gray-700;
}
