.gla-paid-campaign-promotion-content {
	// Make card contents within a row have the same height
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: var(--main-gap);
	border: 1px solid #e0e0e0;
	background-color: #f8f9f9;
	color: #757575;

	&__text {
		margin: 0;
	}

	.components-button {
		margin-top: $grid-unit-20;
	}
}
