.gla-summary-card {
	& > div:last-child {
		// Make card contents within a row have the same height
		flex: 1;
	}

	&__body {
		// Make card contents within a row have the same height
		flex: 1;

		// This could be just display: flex, but since Safari 14.0 is still supported,
		// and does not support gap for flexbox, we use grid instead.
		display: grid;
		grid-auto-flow: row;
		justify-items: center;
		align-items: center;
		height: 100%;
		padding: var(--main-gap);
		border: 1px solid #e0e0e0;
		background-color: #f8f9fa;
		color: #757575;
		text-align: center;

		// Make it match the SummaryNumber placeholder's height
		// not to make the UI jumpy once preloaders is replaced with an error.
		min-height: 117px;
		gap: $grid-unit-20;

		& > * {
			margin: 0;
		}
	}

	.woocommerce-summary {
		flex: 1;
		align-items: center;
		margin: 0;
	}
}
