.gla-accounts-group-card {
	width: 100%;
}

.gla-accounts-group-card__header {
	margin-bottom: $grid-unit-10;
}

.gla-accounts-group-card__title {
	margin: 0 0 $grid-unit-05;
	font-size: $editor-font-size;
	font-weight: 600;
}

.gla-accounts-group-card__description {
	margin: 0;
	color: $gray-700;
}
