.gla-stepper-top-bar {
	display: flex;
	align-items: center;
	min-height: $grid-unit-40 * 2;
	background-color: $white;
	box-shadow: 0 -1px 0 0 $gray-400 inset;

	.components-button {
		height: auto;
		align-self: stretch;
	}

	&__back-button {
		padding: 0 calc(var(--main-gap) / 2);
	}

	&__title {
		flex: 1;
		font-size: $editor-font-size;
		letter-spacing: 0;
	}
}
