.gla-stepper-top-bar {
	display: flex;
	align-items: stretch;
	min-height: 64px;
	background-color: #fff;
	box-shadow: 0 -1px 0 0 #ccc inset;

	.back-button {
		display: flex;
		align-items: center;
		padding: 0 calc(var(--main-gap) / 2);
	}

	.title {
		align-self: center;
		flex: 1;
		font-size: $editor-font-size;
		font-weight: 400;
		line-height: $gla-line-height-medium-large;
		letter-spacing: 0;
	}

	.actions {
		.components-button {
			height: 100%;
		}
	}
}
