.gla-setup-accounts {
	header.gla-setup-accounts__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 487px;
		text-align: center;
		margin: auto;
		gap: 12px;
		margin-bottom: var(--large-gap);

		.step {
			font-size: 14px;
			font-weight: 600;
			margin: 0;
		}

		h1 {
			font-size: 32px;
			font-weight: 400;
			padding: 0;
		}

		.description {
			font-size: 13px;
			font-weight: 400;
			margin: 0;
		}
	}

	.actions {
		text-align: right;
	}
}
