@import '@automattic/color-studio/dist/color-variables.scss';

$gap-largest: 40px;
$gap-larger: 36px;
$gap-large: 24px;
$gap: 16px;
$gap-small: 12px;
$gap-smaller: 8px;
$gap-smallest: 4px;

// Muriel
$muriel-box-shadow-1dp: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
	0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
$muriel-box-shadow-6dp: 0 3px 5px rgba(0, 0, 0, 0.2),
	0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14);
$muriel-box-shadow-8dp: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
	0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

// The following is based on SelectControl from @woocommerce/components.
.woocommerce-tree-select-control {
	position: relative;

	.components-base-control {
		height: 56px;
		display: flex;
		align-items: center;
		border: 1px solid $studio-gray-20;
		border-radius: 3px;
		background: $studio-white;
		padding: $gap-small;
		position: relative;

		.woocommerce-tree-select-control__tags {
			margin: $gap-small $gap-smallest 0 0;
		}

		.woocommerce-tag {
			max-height: 20px;
		}

		.components-base-control__field {
			display: flex;
			align-items: center;
			flex: 1;
			margin-bottom: 0;
			max-width: 100%;
		}

		.components-base-control__label {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: $studio-gray-50;
			font-size: 16px;
		}

		.woocommerce-tree-select-control__control-input {
			font-size: 16px;
			border: 0;
			box-shadow: none;
			color: $studio-gray-80;
			// margin: $gap-small 0 0 0;
			margin: 0;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			line-height: 24px;
			text-align: left;
			letter-spacing: inherit;
			background: transparent;

			&::-webkit-search-cancel-button {
				display: none;
			}

			&:focus {
				outline: none;
			}
		}

		i {
			color: #636d75;
			margin-right: $gap-small;
			width: 24px;
		}

		&.is-active {
			box-shadow: 0 0 0 1px $studio-wordpress-blue-50;
			border-color: $studio-wordpress-blue-50;
		}

		&.with-value .components-base-control__label,
		&.has-tags .components-base-control__label {
			font-size: 12px;
			margin-top: -$gap-small;
		}

		&.is-disabled {
			opacity: 0.5;
			.components-base-control__label {
				cursor: default;
			}
		}
	}

	.woocommerce-tree-select-control__autofill-input {
		position: absolute;
		z-index: -1;
	}

	.woocommerce-tree-select-control__tags {
		position: relative;
		margin: $gap-small 0 0 0;

		&.has-clear {
			padding-right: $gap-large;
		}
	}

	.woocommerce-tag {
		max-height: 24px;
	}

	.woocommerce-tree-select-control__clear {
		position: absolute;
		right: 10px;
		top: calc(50% - 10px);

		& > .clear-icon {
			color: #c9c9c9;
		}
	}

	.woocommerce-tree-select-control__listbox {
		background: $studio-white;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		box-shadow: $muriel-box-shadow-6dp;
		border-radius: 3px;
		position: absolute;
		left: 0;
		right: 0;
		top: 57px;
		z-index: 10;
		overflow-y: auto;
		max-height: 350px;

		&.is-static {
			position: static;
		}
	}

	.woocommerce-tree-select-control__children {
		padding: 0 $gap;

		&.is-expanded {}
	}

	.woocommerce-tree-select-control__option {
		padding: $gap;
		min-height: 56px;
		font-size: 16px;
		text-align: left;
		border: none;

		&.is-selected,
		&:hover {
			background: $studio-gray-0;
		}
	}

	&.is-searchable {
		.components-base-control__label {
			left: 48px;
		}

		.components-base-control.is-active .components-base-control__label {
			font-size: 12px;
			margin-top: -$gap-small;
		}

		.woocommerce-tree-select-control__control-input {
			padding-left: 12px;
		}
	}
}
