.gla-guide__page-content {
	padding: 0 $grid-unit-30;

	&__header {
		margin: 0 0 $grid-unit-30;
		line-height: $gla-line-height-large;
		font-weight: 400;
		font-size: $gla-font-medium;
		color: $gray-700;
	}

	&__body {
		line-height: 1.5;
		font-size: $editor-font-size;
		color: $gray-700;

		> p {
			margin: 1.5em 0;
			line-height: inherit;
			font-size: inherit;
		}

		> cite {
			display: block;
			line-height: $gla-line-height-small;
			font-size: $gla-font-smallest;
			font-style: normal;
		}
	}

	&__link {
		text-decoration: none;
	}
}
