.gla-budget-recommendation {
	font-style: italic;

	&__recommendation,
	&__low-budget {
		display: flex;
		gap: calc(var(--main-gap) / 3);

		> svg {
			flex: 1 0 auto;
		}
	}

	&__recommendation {
		margin-bottom: calc(var(--main-gap) / 2);

		svg {
			fill: $gray-600;
		}
	}

	&__low-budget {
		svg {
			fill: $alert-yellow;
		}
	}
}
