.gla-budget-recommendation {
	&__low-budget {
		display: flex;
		align-items: center;
		gap: calc(var(--main-gap) / 3);
		margin-bottom: calc(var(--main-gap) / 2);
		font-style: italic;

		> svg {
			flex: 0 0 auto;
		}
	}

	.components-tip {
		padding: $grid-unit-15 $grid-unit-20;
		background-color: #f0f6fc;

		> p {
			line-height: $gla-line-height-medium;
			font-size: inherit;
		}

		> svg {
			align-self: initial;
			margin: $grid-unit-05 $grid-unit-05 * 2.5 0 0;
		}
	}

	.components-tip,
	&__low-budget {
		font-size: $gla-font-smaller;
		color: $black;

		> svg {
			fill: $gray-900;
		}
	}
}
