.gla-connected-google-ads-only-account-card-wrapper {

	.components-card {
		&:not(:last-child) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:not(:first-child) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}

.gla-connected-google-ads-only-account-card--connected {

	.gla-account-card__description {
		gap: 0;
	}

	.gla-connected-google-ads-only-account-card__description-actions {
		display: flex;
		gap: var(--large-gap);
	}
}
