.gla-choose-audience-section {
	&__language-helper,
	.wcdl-radio-helper-text {
		font-style: normal;
		color: $gray-700;
	}

	.wcdl-subsection-helper-text {
		margin-bottom: calc(var(--main-gap) / 3 * 2);
	}

	.woocommerce-tree-select-control__help {
		margin-top: $grid-unit-10;
	}
}
