.gla-issues-table-card {
	.woocommerce-table {
		margin-bottom: 0;

		.woocommerce-pagination {
			margin-bottom: 0;
		}
	}

	.app-tab-nav {
		&__tabs {
			padding: 0 $grid-unit-30;
			margin-bottom: 0;
		}
	}

	.gla-issues-solved {
		max-width: $break-small;
		padding: $grid-unit-50;
		margin: 0 auto;
		text-align: center;

		&__icon {
			margin-bottom: $grid-unit-20;
			width: $grid-unit-50;height: $grid-unit-50;
			color: darken($gray-400, 6.5%);
			font-size: $grid-unit-50;
		}

		&__body {
			margin-top: $grid-unit-10;
			color: $gray-700;
			line-height: 1.2;
		}
	}
}



