.gla-issues-table-card {
	.woocommerce-table {
		margin-bottom: 0;

		.woocommerce-pagination {
			margin-bottom: 0;
		}
	}

	.app-tab-nav {
		&__tabs {
			padding: 0 $grid-unit-30;
			margin-bottom: 0;
		}
	}

}

