.gla-google-tag-manager-connected-account-card__text-detail {
	display: flex;
	flex-direction: column;
	gap: $grid-unit-05;
	font-weight: 400;
}

.gla-google-tag-manager-connected-account-card__text-detail p {
	margin: 0;
}
