.gla-price-benchmark__card .app-tab-nav:first-child {
	padding: 0 $grid-unit-40;
}

.gla-price-benchmark-tour {

	.woocommerce-tour-kit-step__heading img {
		display: block;
		margin: 0 auto $grid-unit-20;
	}

	.woocommerce-tour-kit-step__description {
		font-size: 13px;
		line-height: 20px;
	}

	.gla-price-benchmark__comparison-chart {
		margin: $grid-unit-40 0;
	}

	.gla-tour-highlight {
		display: block;
	}

	.tour-kit-frame__arrow {
		background-color: #fff;
	}
}
