.gla-skip-paid-ads-survey-modal__survey {
	.gla-skip-paid-ads-survey-modal__survey-title {
		font-size: 16px;
		font-weight: 600;
	}

	.gla-skip-paid-ads-survey-modal__text-input {
		margin-left: $grid-unit-30;
	}
}
