.gla-google-combo-account-card--connected {

	.gla-account-card__icon {
		align-self: flex-start;
	}

	.gla-account-card__description p {
		margin: 0;
	}
}

.gla-google-combo-service-connected-icon-label {
	width: auto;
}

.gla-google-combo-service-account-card {
	padding: var(--large-gap);

	> div {
		display: flex;
		flex-direction: column;
		gap: calc(var(--main-gap) / 2);
	}

	.wcdl-section-card-body,
	.gla-google-combo-service-account-card__body {
		padding: 0;
	}

	.gla-google-combo-service-account-card__footer {
		border: 0;
		padding: 0;
	}
}
