.gla-google-combo-connect-account-card {
	padding: var(--large-gap);

	> div {
		display: flex;
		flex-direction: column;
		gap: calc(var(--main-gap) / 2);
	}

	.wcdl-section-card-body,
	.gla-google-combo-connect-account-card__body {
		padding: 0;
	}

	.gla-google-combo-connect-account-card__footer {
		border: 0;
		padding: 0;
	}

	.app-select-control {
		flex: 1;
	}
}
