.gla-google-combo-account-card--connected {

	.gla-account-card__account_details {
		display: flex;
		flex-direction: column;
		gap: $grid-unit;
	}
}

.gla-google-combo-service-connected-icon-label {
	width: auto;
}

