.woocommerce-marketing-google-get-started-with-video-card {
	.components-flex {
		flex-direction: column;

		.motivation-video {
			min-width: 100%;
			margin: 0;
		}

		.motivation-text {
		 	display: flex;
		 	flex-direction: column;
		 	align-items: center;
			text-align: center;
			margin: calc(var(--main-gap) * 1.67) calc(var(--main-gap) * 4.67);

			.title {
				padding: 0 $grid-unit-30;
				margin-bottom: $grid-unit-15;
			}

			.description {
				margin-bottom: $grid-unit-40;
				padding: 0 $grid-unit-10;
			}

			.button {
				display: flex;
				justify-content: center;
				width: 188px;
				height: 50px;
				font-size: 14px;
				margin-bottom: $grid-unit-10;
			}

			.hint {
				font-size: $helptext-font-size;
				color: #a7aaad;
				margin-bottom: $grid-unit-40;
			}
		}

		.footer {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			border-top: 1px solid $gray-300;
			padding: $grid-unit-20 $grid-unit-10;
			margin: $grid-unit-20 $grid-unit-50;

			.hint {
				font-size: $helptext-font-size;
				margin-left: $grid-unit-15;
				color: $gray-600;
			}
		}
	}

	.components-flex &__terms-notice {
		font-size: $helptext-font-size;
		a {
			text-decoration: none;
		}
	}
}

@media (max-width: $break-small) {
	.woocommerce-marketing-google-get-started-with-video-card {
		.components-flex {
			.motivation-text {
				margin: 24px;

				.title {
					padding: 0;
					font-size: 20px;
					line-height: 28px;
				}
			}

			.footer {
				margin: $grid-unit-30;
			}
		}
	}
}
