.gla-get-started-with-video-card {
	flex-direction: column;

	.components-card__header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		min-width: 100%;
		max-height: 64px;
		padding: $grid-unit-20;
		margin: 0;
		text-align: center;

		& > p {
			font-size: $helptext-font-size;
			color: $gray-600;
		}

		@media (max-width: $break-small) {
			justify-content: center;

			& > p::after {
				content: " Google";
			}

			& > img {
				display: none;
			}
		}
	}

	.motivation-video {
		min-width: 100%;
		margin: 0;
	}

	.motivation-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: calc(var(--main-gap) * 1.67) calc(var(--main-gap) * 4.67);

		.title {
			padding: 0 $grid-unit-30;
			margin-bottom: $grid-unit-15;
		}

		.description {
			margin-bottom: $grid-unit-40;
			padding: 0 $grid-unit-10;
		}

		.button {
			display: flex;
			justify-content: center;
			width: 188px;
			height: 50px;
			font-size: 14px;
			margin-bottom: $grid-unit-10;
		}

		.hint {
			font-size: $helptext-font-size;
			color: $gray-400;
			margin-bottom: $grid-unit-40;
		}
	}

	.components-tip {
		border-top: 1px solid $gray-300;
		padding: $grid-unit-30 $grid-unit-15;
		margin: 0 $grid-unit-50;

		& svg {
			fill: $gray-900;
			margin-right: $grid-unit-15;
		}

		& p {
			font-size: $helptext-font-size;
			color: $gray-600;
		}
	}

	&__terms-notice {
		font-size: $helptext-font-size;
		a {
			text-decoration: none;
		}
	}
}

@media (max-width: $break-small) {
	.gla-get-started-with-video-card {
		.motivation-text {
			margin: $grid-unit-30;

			.title {
				font-size: 20px;
				line-height: $default-line-height;
			}

			.description {
				padding: 0 $grid-unit-15;
			}
		}

		.components-tip {
			padding: $grid-unit-30 $grid-unit-05;
			margin: 0 $grid-unit-30;

			& svg {
				align-self: flex-start;
			}
		}
	}
}
