.gla-get-started-with-video-card {
	flex-direction: column;

	.motivation-video {
		min-width: 100%;
		margin: 0;
	}

	// Adjust <CardBody> imported from @wordpress/components.
	// Repeat selector to make it higher priority.
	.components-card__body.components-card__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: calc(var(--main-gap) * 1.67) 0 var(--main-gap);
		padding: 0;

		@media (max-width: $break-small) {
			margin: $grid-unit-30;
		}
	}

	& &__caption {
		margin-bottom: $grid-unit-20;
		color: $gray-600;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__title {
		margin-bottom: $grid-unit-20;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__description {
		max-width: $gla-width-large;
		margin-bottom: $grid-unit-30;
	}

	// Use more specific rules to make it higher priority to override <AppButton> component.
	& &__button {
		display: flex;
		justify-content: center;
		width: 188px;
		height: $gla-size-control-height;
		font-size: $gla-font-small;
		margin-bottom: $grid-unit-10;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__hint {
		font-size: $helptext-font-size;
		color: $gray-400;
		margin-bottom: $grid-unit-30;
	}

	// Use more specific rules to make it higher priority to override <Text> component.
	& &__terms-notice {
		font-size: $helptext-font-size;
		a {
			text-decoration: none;
		}
	}

	.components-tip {
		border-top: $border-width solid $gray-300;
		padding: $grid-unit-30 $grid-unit-15;
		margin: 0 $grid-unit-50;

		& svg {
			fill: $gray-900;
			margin-right: $grid-unit-15;
		}

		& p {
			font-size: $helptext-font-size;
			color: $gray-600;
		}
	}

	@media (max-width: $break-small) {
		& &__title {
			font-size: $gla-font-small-medium;
			line-height: $gla-line-height-medium-large;
		}

		& &__description {
			padding: 0 $grid-unit-15;
		}

		.components-tip {
			padding: $grid-unit-30 $grid-unit-05;
			margin: 0 $grid-unit-30;

			& svg {
				align-self: flex-start;
			}
		}
	}
}
