.gla-step-content-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: $gla-width-large;
	text-align: center;
	margin: auto;
	gap: $grid-unit-15;
	margin-bottom: var(--large-gap);

	h1 {
		font-size: $gla-font-large;
		padding: 0;
	}

	&__description {
		line-height: $gla-line-height-smaller;
	}
}
