.gla-step-content-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 487px;
	text-align: center;
	margin: auto;
	gap: $grid-unit-15;
	margin-bottom: var(--large-gap);

	h1 {
		font-size: $gla-font-big;
		font-weight: 400;
		padding: 0;
	}

	.description {
		font-size: $default-font-size;
		font-weight: 400;
		margin: 0;
	}
}
