.gla-shipping-rate-setup {
	margin-top: calc(var(--main-gap) / 2);

	.countries-price {
		margin-bottom: calc(var(--main-gap) / 2);

		.countries-price-input-form {
			max-width: 300px;
		}
	}

	.add-rate-button {
		align-self: flex-start;
	}

	.price-over-input {
		max-width: 300px;
	}
}
