.wcdl-subsection-title {
	position: relative;
	font-size: $gla-font-small;
	font-style: normal;
	font-weight: 600;
	line-height: $gla-line-height-medium;
	letter-spacing: 0;
	text-align: left;
	margin-bottom: 8px;
}
